*{
    margin: 0;
    padding: 0 0.5;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{ 
    background-color: rgb(240, 225, 193); 
}
headers{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem auto;
    max-width: 100%;
}

.navigation ul{
    display: flex;
    list-style-type: none;
    gap: 2rem;

}
.navigation a {
    text-decoration: none;
    color: rgb(202, 128, 160);
}

.navigation a:hover{
    color: rgb(179, 14, 171);
}
hr{
    opacity: 0.5;
    color: rgb(50, 34, 16);
}
h1{
    color:rgb(193, 97, 114);
    font-family: bropella ;
    font:  sans-serif;
    font-size: xxx-large;
    flex-direction: column;
    text-align: center;
}
p{
    color: rgb(50, 34, 16);
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    flex-direction: column;
    text-align: center;
}
img{
    width: 55%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.Math{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    max-width: 1200px;
    gap: 10rem;
}
.textContainer{
    align-items: center;
    gap: 5px;
    font-size: 2rem;
}
.Mathpar{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 2rem;
    text-align: justify;
}
.English{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    max-width: 1200px;
    gap: 10rem;
}
.textContainer{
    align-items: center;
    gap: 5px;
    font-size: 2rem;
}
.Englishpar{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 2rem;
    text-align: justify;
}

.Science{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    max-width: 1200px;
    gap: 10rem;
}
.textContainer{
    align-items: center;
    gap: 5px;
    font-size: 2rem;
}
.Sciencepar{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 2rem;
    text-align: justify;
}

.History{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    max-width: 1200px;
    gap: 10rem;
}
.textContainer{
    align-items: center;
    gap: 5px;
    font-size: 2rem;
}
.Historypar{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 2rem;
    text-align: justify;
}